        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            <img src="/Home.svg">Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/Home.svg">Veronica
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/Home.svg">Slam
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="/Home.svg">100% NL
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>